<style type="text/css">
body {
	background-color: #5C99D1;
}
body,td,th {
	color: #101210;
}
</style>
<link rel="stylesheet" type="text/css" href="style.css">
<table width="1175" border="0">
  <tbody>
    <tr>
      <th width="1165" height="697" align="left" valign="top" scope="col"><table width="1160" height="192" border="0">
        <tbody>
          <tr>
            <th width="1128" height="188" align="left" valign="top" scope="col"><table width="396" height="143" border="1">
              <tbody>
                <tr>
                  <th width="428" height="106" style="font-size: xx-large; color: #D71747;" scope="col">Events @ Şehir </th>
                </tr>
              </tbody>
            </table>
              <p>&nbsp;</p>
            </tr>
        </tbody>
      </table>
        <table width="100" border="0">
          <tbody>
            <tr> </tr>
          </tbody>
      </table>
        <table width="1165" height="539" border="0">
          <tbody>
            <tr>
              <th width="137" valign="top" scope="row"><hr/>
                <center>
                  <p align="left"><font size="5"><a href ="home">Home</a></font></p>
                  <p align="left"><font size="5"><a href="about">About</a></font></p>
                  <p align="left"><font size="5"><a href="myapp/list">Add Activity</a></font></p>
                  <p align="left"><font size="5"><a href="club">Clubs </a></font></p>
                </center>
                <hr/> <span style="color: #B73379"></span><!-- #BeginDate format:acAm1a -->Sat, December 27, 2014 2:31 PM<!-- #EndDate --></th>
              <th width="970" height="525" valign="top" scope="row"><table width="1010" height="627" border="1">
                
              </table>
                <table width="758" height="395" border="1">
                  <tbody>
                    <tr>
                      <td>Ali uzun</td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
                <table width="941" height="591" border="1">
                
                </table></th>
            </tr>
          </tbody>
      </table></th>
    </tr>
  </tbody>
</table>

