<style type="text/css">
body {
	background-color: #5C99D1;
}
body,td,th {
	color: #101210;
}
</style>
<link rel="stylesheet" type="text/css" href="style.css">
<table width="1175" border="0">
  <tbody>
    <tr>
      <th width="1165" height="697" align="left" valign="top" scope="col"><table width="1160" height="192" border="0">
        <tbody>
          <tr>
            <th width="1128" height="188" align="left" valign="top" scope="col"><table width="396" height="143" border="1">
              <tbody>
                <tr>
                  <th width="428" height="106" style="font-size: xx-large; color: #D71747;" scope="col">Events @ Şehir </th>
                </tr>
              </tbody>
            </table>
              <p>&nbsp;</p>
            </tr>
        </tbody>
      </table>
        <table width="100" border="0">
          <tbody>
            <tr> </tr>
          </tbody>
      </table>
        <table width="1165" height="539" border="0">
          <tbody>
            <tr>
              <th width="137" valign="top" scope="row"><hr/>
                <center>
                  <p align="left"><font size="5"><a href ="home">Home</a></font></p>
                  <p align="left"><font size="5"><a href="about.html">About</a></font></p>
                  <p align="left"><font size="5"><a href="myapp/list">Add Activity</a></font></p>
                  <p align="left"><font size="5"><a href="contact.html">Contact </a></font></p>
                </center>
                <hr/> <span style="color: #B73379"></span><!-- #BeginDate format:acAm1a -->Sat, December 27, 2014 2:31 PM<!-- #EndDate --></th>
              <th width="970" height="525" valign="top" scope="row"><table width="941" height="591" border="1">
                <tbody>
                  <tr>
                  <center>
                    <td width="230" height="42"><img src="/media/documents/2014/12/28/img1.png" width="230" height="297" alt=""/></td>
                    <td width="230" height="42"><img src="/media/documents/2014/12/28/img2.png" width="230" height="297" alt=""/></td>
                    <td width="230" height="42"><img src="/media/documents/2014/12/28/img3.png" width="230" height="297" alt=""/></td>
                    <td width="230" height="42"><img src="/media/documents/2014/12/28/img4.png" width="230" height="297" alt=""/></td>
                  </center>
                  </tr>
                  <tr>
                    <td height="155">This activity take place at west campus conferans hall at 12.12.2014</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="84">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table></th>
            </tr>
          </tbody>
      </table></th>
    </tr>
  </tbody>
</table>

